<h3><%= @sub.title %></h3>
<ul>
  <li><strong>Moderated by:</strong> <%= @sub.moderator.username %></li>
  <br>
  <li><strong>Description:</strong> <%= @sub.description %></li>
</ul>

<h4>Posts</h4>
<ul>
  <% @sub.posts.each do |post| %>
    <li>
      <a href="<%= post_url(post) %>"><%= post.title %></a>
      <br>
      Authored by: <i><%= post.author.username %></i>
    </li>
  <% end %>
</ul>

<a href="<%= edit_sub_url(@sub) %>">Edit Sub</a>
<br/>
<a href="<%= subs_url %>">Back to All Subs</a>

<a href="<%= new_sub_post_url(@sub) %>">Create New Post</a>
